<h1>Please supply your name and favourite beverage:</h1>

<form action="/hello/" method="POST">
    Your Name: <input type="text" name="name">
    <br/>
    Your favourite beverage: <input type="text" name="drink">
    <br/>
    <input type="submit">
</form>
