<h2>Please supply your name and favourite drink:</h2>

<form action="/drink" method="POST">
    Your Name: <input type="text" name="name">
    <br/>
	<br/>
    Your favourite drink: <input type="text" name="drink">
    <br/>
    <br/>    
	<input type="submit">
</form>
